@model ApplicationCore.Models.MovieDetailsResponseModel

@{
    ViewData["Title"] = Model.Title;
}


<h1>@Model.Title</h1>
<div class="container-fluid">
    <div class="col-4">
        <img src="@Model.PosterUrl" class="float-left img-fluid pull-left mr-2" alt="@Model.Title" />
    </div>
    <dl class="row">
        <dt class="col-2">
        @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>

    
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PosterUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PosterUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BackdropUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BackdropUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Overview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Overview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tagline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tagline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Revenue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImdbUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImdbUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TmdbUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TmdbUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RunTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RunTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<partial name="_castDetails" model="Model.Casts" />
