@model ApplicationCore.Models.MovieDetailsResponseModel

@{
    ViewData["Title"] = Model.Title;
}


<h1>@Model.Title</h1>
<div class="container">
    <div class="row" style="background-image: url(@Model.BackdropUrl)">
        <div class="col">
            <img src="@Model.PosterUrl" width="300" />
        </div>
        <div class="col-6">
            <h1 style="color:white">@Model.Title</h1>
            <div style="font-size:smaller; color:lightgray">@Model.Tagline</div>
            <br />
            <div style="font-size:medium; color:lightgray">
                @Model.RunTime m | @Model.ReleaseDate.Value.Year
                @foreach (var genre in Model.Genres)
                {
                    <span class="badge badge-pill badge-dark">@genre.Name</span>
                }
            </div>
            <br />
            <div>
                <span class="badge badge-success" style="font-size:medium;">@Model.Rating?.ToString("0.00")</span>
            </div>
            <br />
            <div style="font-size:medium; color:white">
                @Model.Overview
            </div>
            <br />
        </div>
        <div class="col">
            <br />
            <br />
            <ul class="list-group-buttons">
                <li class="list-group-items">
                    <a asp-controller="User" asp-action="Review">
                        <button type="button" class="btn btn-outline-light btn-lg btn-block">REVIEW</button>
                    </a>

                    <button type="button" class="btn btn-light btn-lg btn-block">BUY AT $@Model.Price</button>
                </li>
            </ul>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <ul class="list-group-trailers">
                <li>
                    Release Date <span class="badge badge-pill badge-dark">@Model.ReleaseDate.Value.ToShortDateString()</span>
                </li>
                <li>
                    Run Time <span class="badge badge-pill badge-dark">@Model.RunTime m</span>
                </li>
                <li>
                    Box Office <span class="badge badge-pill badge-dark">$@Model.Revenue</span>
                </li>
                <li>
                    Budget <span class="badge badge-pill badge-dark">$@Model.Budget</span>
                </li>
            </ul>
            <h3>TRAILERS</h3>
            <ul class="list-group-trailers">
                @foreach (var trailer in Model.Trailers)
                {
                    <li class="list-group-trailers-items">
                        <a href="@trailer.TrailerUrl">@trailer.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-8">
            <h3>CAST</h3>
            <partial name="_castDetails" model="Model.Casts" />
        </div>
    </div>
</div>


